<div class="mt-4">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Accounts</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="user card image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="#">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Support</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="support card image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="#">Show tickets</a>
                        <a class="btn btn-primary" href="#">Write report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>