<div class="mt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Your expenses account</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="expense account image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ path('prospector_expense_account') }}">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Prospection</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="prospection card image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="#">Show</a>
                        <a class="btn btn-primary" href="#">Write report</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Stock</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="stock card image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="#">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>