<div class="mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Report forms</h3>
                </div>
                <div class="card-body">
                    <img class="card-img" src="" alt="report form image" />
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="#">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>